.w3-theme-l5 {color:#000 !important; background-color:#f8fbf5 !important}
.w3-theme-l4 {color:#000 !important; background-color:#e8f0de !important}
.w3-theme-l3 {color:#000 !important; background-color:#d0e2bc !important}
.w3-theme-l2 {color:#000 !important; background-color:#b9d39b !important}
.w3-theme-l1 {color:#000 !important; background-color:#a2c57a !important}
.w3-theme-d1 {color:#fff !important; background-color:#7da94a !important}
.w3-theme-d2 {color:#fff !important; background-color:#6f9642 !important}
.w3-theme-d3 {color:#fff !important; background-color:#61843a !important}
.w3-theme-d4 {color:#fff !important; background-color:#537131 !important}
.w3-theme-d5 {color:#fff !important; background-color:#455e29 !important}

.w3-theme-light {color:#000 !important; background-color:#f8fbf5 !important}
.w3-theme-dark {color:#fff !important; background-color:#455e29 !important}
.w3-theme-action {color:#fff !important; background-color:#455e29 !important}

.w3-theme {color:#fff !important; background-color:#8ab658 !important}
.w3-text-theme {color:#8ab658 !important}
.w3-border-theme {border-color:#8ab658 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#8ab658 !important}
.w3-hover-text-theme:hover {color:#8ab658 !important}
.w3-hover-border-theme:hover {border-color:#8ab658 !important}